.App {
  text-align: center;
}

.App h1{
  font-size: 50px;
 color:crimson;
}
.app_container{
  width: 400px !important;
  height: 400px !important;
  font-size: larger;
  font-weight: 400;
}

.calculator {
  display: grid !important;
  grid-template-columns: repeat(4,100px);
  left: 50%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -12%); /* Centers the calculator on screen */
}

button {
  height: 100px;
  font-size: larger;
  background-color: white;
  border: 1px solid rgb(141, 155, 168);
}

button.oprator {
  background-color:  lightgray;
}
.display{
  grid-column-start: 1;
  grid-column-end: 5;
  height: 60px;
  font-size: 30px;
  text-align: right;
  border: 1px solid rgb(141, 155, 168);
  padding-right: 10px;
  padding-top: 5px;
}